/*
primercolor: #d87093;
segundocolor: #623d62;
tercercolor: #232323;
cuarto color: #141414;
*/
.ejercitacion3{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d87093;
}
body{
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1 em;
}
.formato-li{
    border: 3px solid black;
    padding: 38px;
}
.ancho{
    padding: 2%;
    width: 50%;
}